In [1]:
import numpy as np
import pandas as pd

In [2]:
autos = pd.read_csv("autos.csv", encoding = "windows-1251")

In [3]:
autos.head(2)

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,odometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08

In [4]:
autos.columns

Index(['dateCrawled', 'name', 'seller', 'offerType', 'price', 'abtest',
       'vehicleType', 'yearOfRegistration', 'gearbox', 'powerPS', 'model',
       'odometer', 'monthOfRegistration', 'fuelType', 'brand',
       'notRepairedDamage', 'dateCreated', 'nrOfPictures', 'postalCode',
       'lastSeen'],
      dtype='object')

In [5]:
column = ['date_crawled', 'name', 'seller', 'offer_type', 'price', 
                 'ab_test', 'vehicle_type', 'registration_year', 'gearbox',
                 'power_ps', 'model', 'odometer', 'registration_month',
                 'fuel_type', 'brand', 'unrepaired_damage', 'ad_created',
                 'num_photos', 'postal_code', 'last_seen']
autos.columns = column

In [14]:
autos = autos.rename({'dateCrawled':"date_crawled", 'offerType':"offer_type",
             'abtest':"ab_test", 'vehicleType':"vehicle_type",
             'yearOfRegistration':"registration_year",
             'powerPS':'power_ps',
              'monthOfRegistration':"registration_month",
             'fuelType':'fuel_type',
             'notRepairedDamage':"damage",
             'dateCreated':'date_created', 'nrOfPictures':'no_pics',
              'postalCode':'postal_code',
       'lastSeen':'last_seen'},axis = 1)

In [15]:
autos.columns

Index(['date_crawled', 'name', 'seller', 'offer_type', 'price', 'ab_test',
       'vehicle_type', 'registration_year', 'gearbox', 'power_ps', 'model',
       'odometer', 'registration_month', 'fuel_type', 'brand', 'damage',
       'date_created', 'no_pics', 'postal_code', 'last_seen'],
      dtype='object')

In [16]:
autos.isnull().sum()

date_crawled             0
name                     0
seller                   0
offer_type               0
price                    0
ab_test                  0
vehicle_type          5095
registration_year        0
gearbox               2680
power_ps                 0
model                 2758
odometer                 0
registration_month       0
fuel_type             4482
brand                    0
damage                9829
date_created             0
no_pics                  0
postal_code              0
last_seen                0
dtype: int64

In [17]:
autos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   date_crawled        50000 non-null  object
 1   name                50000 non-null  object
 2   seller              50000 non-null  object
 3   offer_type          50000 non-null  object
 4   price               50000 non-null  object
 5   ab_test             50000 non-null  object
 6   vehicle_type        44905 non-null  object
 7   registration_year   50000 non-null  int64
 8   gearbox             47320 non-null  object
 9   power_ps            50000 non-null  int64
 10  model               47242 non-null  object
 11  odometer            50000 non-null  object
 12  registration_month  50000 non-null  int64
 13  fuel_type           45518 non-null  object
 14  brand               50000 non-null  object
 15  damage              40171 non-null  object
 16  date_created        50000 non-null  object
 17  no_pics             50000 non-null  int64
 18  postal_code         50000 non-null  int64
 19  last_seen           50000 non-null  object
dtypes: int64(5), object(15)
memory usage: 7.6+ MB

In [18]:
autos.describe()

,registration_year,power_ps,registration_month,no_pics,postal_code
count,50000.000000,50000.000000,50000.000000,50000.0,50000.000000
mean,2005.073280,116.355920,5.723360,0.0,50813.627300
std,105.712813,209.216627,3.711984,0.0,25779.747957
min,1000.000000,0.000000,0.000000,0.0,1067.000000
25%,1999.000000,70.000000,3.000000,0.0,30451.000000
50%,2003.000000,105.000000,6.000000,0.0,49577.000000
75%,2008.000000,150.000000,9.000000,0.0,71540.000000
max,9999.000000,17700.000000,12.000000,0.0,99998.000000

In [19]:
autos.describe(include = ["O"])

,date_crawled,name,seller,offer_type,price,ab_test,vehicle_type,gearbox,model,odometer,fuel_type,brand,damage,date_created,last_seen
count,50000,50000,50000,50000,50000,50000,44905,47320,47242,50000,45518,50000,40171,50000,50000
unique,48213,38754,2,2,2357,2,8,2,245,13,7,40,2,76,39481
top,2016-03-05 16:57:05,Ford_Fiesta,privat,Angebot,$0,test,limousine,manuell,golf,"150,000km",benzin,volkswagen,nein,2016-04-03 00:00:00,2016-04-07 06:17:27
freq,3,78,49999,49999,1421,25756,12859,36993,4024,32424,30107,10687,35232,1946,8

In [20]:
autos["seller"].unique()

array(['privat', 'gewerblich'], dtype=object)

In [21]:
autos["offer_type"].unique()

array(['Angebot', 'Gesuch'], dtype=object)

In [22]:
autos["no_pics"].unique()

array([0], dtype=int64)

In [23]:
dropped_cols = ["seller", "offer_type", "no_pics"]

In [ ]:
autos.drop(dropped_cols,axis = 1, inplace = True)

In [ ]:
autos.columns

In [ ]:
autos.head(2)

In [ ]:
autos["registration_year"].value_counts().sort_index().head(10)

In [ ]:
autos["registration_year"].value_counts().sort_index(ascending = False).head(20)

In [ ]:
# 1910 - 2016

In [ ]:
# bool_mask = (autos["registration_year"] >= 1910) & (autos["registration_year"] <= 2016)

In [ ]:
bool_mask = autos["registration_year"].between(1910,2016)

In [ ]:
autos = autos[bool_mask]

In [ ]:
autos["registration_year"].describe()

In [ ]:
autos.shape

In [ ]:
autos.info()

In [ ]:
autos["price"] = autos["price"].str.replace("$","").str.replace(",","").astype(int)

In [ ]:
autos["price"].dtype

In [ ]:
autos["price"].value_counts().sort_index().head(10)

In [ ]:
autos["price"].value_counts().sort_index().tail(15)

In [ ]:
# 1-350000

In [ ]:
autos = autos[autos["price"].between(1,350000)]

In [ ]:
autos.shape

In [ ]:
46681/50000

In [ ]:
autos.info()

In [ ]:
autos["odometer"] = autos["odometer"].str.strip("km").str.replace(",","").astype(int)

In [ ]:
autos["odometer"].dtype

In [ ]:
autos.rename({"price":"price_$", "odometer":"odometer_km"}, 
             axis=1, inplace = True)

In [ ]:
autos.columns

In [ ]:
autos["brand"].value_counts().head(5)

In [ ]:
autos["brand"].shape

In [ ]:
str(round((9862/46681)*100,2)) + "%"

In [ ]:
autos["brand"].value_counts(normalize = True)

In [ ]:
autos["brand"].value_counts(normalize = True).sum()

In [ ]:
brand = autos["brand"].value_counts(normalize = True)

# we decided brand, having more than 3% market share
common_brand = brand[brand>0.03].index
common_brand

In [ ]:
autos[autos["brand"] == "bmw"]["price_$"].mean()

In [ ]:
brand_mean_price = {}

for brand in common_brand:
    mean_price = autos[autos["brand"] == brand]["price_$"].mean()
    brand_mean_price[brand] = mean_price

In [ ]:
brand_mean_price

In [ ]:
bmp_series = pd.Series(brand_mean_price).sort_index()
bmp_series

In [ ]:
brand_mileage = {}

for brand in common_brand:
    mileage = autos[autos["brand"] == brand]["odometer_km"].mean()
    brand_mileage[brand] = mileage

In [ ]:
brand_mileage

In [ ]:
bmm = pd.Series(brand_mileage).sort_index()
bmm

In [ ]:
brand_df = pd.DataFrame(bmp_series, columns = ["mean"])
brand_df

In [ ]:
brand_df["mileage"] = bmm

In [ ]:
brand_df.sort_values("mean", ascending = False).head()

In [ ]:
# abc = abc+1
# abc+1, inplace = True

In [ ]:
autos["price_hp"] = autos["price_$"]/autos["power_ps"]

In [ ]:
autos.head()

In [ ]:
# autos.to_csv("updates.autos.csv", index = False)